<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <img class="navbar-brand" [src]="logo" alt="aaa" width="100px" height="50px">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0" style="margin-left: 100px">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""><span style="color: #eeeeee">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app"><span style="color: #eeeeee">Apprenants</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form"><span style="color: #eeeeee">formateur</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="formation"><span style="color: #eeeeee">formation</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="visio"><span style="color: #eeeeee">visioConference</span></a>
        </li>
      </ul>
      <i class="fa fa-comment fa-lg" aria-hidden="true" style="margin-right: 50px"></i>
      <i class="fa fa-sun-o fa-lg" aria-hidden="true" style="margin-right: 50px"></i>
      <i class="fa fa-sign-out fa-lg" aria-hidden="true"> <span style="color: #eeeeee">logout</span> </i>
    </div>
  </div>
</nav>
<!-- <form >
  <li class="nav-item">
    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" >
  </li>
</form> -->


